* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: rgb(28, 28, 28);
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.active {
  background-color: yellow;
  border-bottom: solid 2px blue;
}

header {
  background-color: #fff;
}
header .header {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
header img {
  display: block;
  height: 4rem;
  width: 4rem;
  margin: 1rem 0;
}
header ul {
  height: 100%;
}
header ul li {
  display: inline-block;
  text-transform: uppercase;
  height: 100%;
}
header ul li a {
  text-decoration: none;
  color: rgb(75, 75, 75);
  margin-left: 1rem;
  font-weight: 700;
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 0.4rem transparent solid;
}
header ul li a:hover {
  border-bottom: 0.4rem rgb(12, 124, 236) solid;
  color: rgb(12, 124, 236);
}

main {
  color: #fff;
  text-transform: uppercase;
}
main #jumbotron {
  height: 300px;
  overflow: hidden;
}
main #jumbotron img {
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
}
main #comics h2 {
  background: rgb(12, 124, 236);
  padding: 0.7rem 0.5rem;
  display: inline-block;
}
main #comics .container {
  flex-wrap: wrap;
}
main #comics .container .item {
  padding: 0.5rem;
  width: 16.6666666667%;
}
main #comics .container .item .img-item-content {
  max-width: 100%;
  position: relative;
  background-color: aqua;
  margin-bottom: 1rem;
  overflow: hidden;
}
main #comics .container .item .img-item-content::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
main #comics .container .item .img-item-content img {
  position: absolute;
  width: 100%;
  overflow: hidden;
}
main #comics .container .item span {
  text-align: left;
}
main #comics .span-load {
  background: rgb(12, 124, 236);
  padding: 0.7rem 0.5rem;
  display: table;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}